/* shared styles */
*{
        margin: 0;
}
body{
        @import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;800&display=swap');
        font-family: 'Mulish', sans-serif;
}
header,main{
        margin: 52px 135px;

}
:root{
        --primary-color:#64bd49;
}
.primary-btn{
        background-color: var(--primary-color);
        border: none;
        width: 160px;
        color: #FFF;
        border-radius: 8px;
        padding: 20px;
        font-size: 15px;
        font-weight: 700;
}

/* nav section styles */
.logo{
        width: 48px;
}
nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
}
.nav-title{
        font-size: 36px;
        font-style: 800;
        color: #131318;
        display: flex;
        align-items: center;
        gap: 20px;
}
.nav-title span,.nav-home{
        color: var(--primary-color);
}
nav ul{
        display: flex;
        list-style: none;
        gap: 44px;
}
nav a{
        text-decoration: none;
        color: #424247;
        font-size: 18px;
        font-weight: 400;
}

/* banner section styles */
.banner-section{
        /* height:350px; */
        background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%),url(../Images/Group\ 13\ \(1\)\ \(1\).png);
        background-position: center;
        background-size: cover;
        border-radius: 8px;
        margin-top: 50px;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 100px 200px;
}
.banner-title{
        color: #FFF;
        font-size: 64px;
        font-weight: 800;
}
.banner-description{
        color: #FFF;
        font-size: 16px;
        font-weight: 400;
        margin: 24px 0;
        text-align: center;
}

.banner-inputs input{
        height: 52px;
        padding-left: 20px;
        outline: none;
        border: 0;
        border-radius: 8px;
        margin-right: 24px;
}

::placeholder{
        color: rgba(19, 19, 24, 0.50);
        opacity: 1;
}

.find-btn{
        background-color: var(--primary-color);
        width: fit-content;
        color: #FFF;
        border: 0;
        height: 52px;
        border-radius: 8px;
        padding: 0 80px 0 20px;
}

/* popular tour section styles */
.popular-tour-section{
        display: flex;
        margin-top: 100px;
        gap: 100px;
}
.popular-tour-container{
        display: flex;
        flex-direction: column;
        gap: 24px;
}
.popular-tour-title{
        color: #131318;
        font-size: 48px;
        font-weight: 800;
}
.popular-tour-description{
        color: rgba(19, 19, 24, 0.70);
}
.popular-tour-list{
        color: rgba(19, 19, 24, 0.70);

}
.popular-tour-section img{
        height:450px;
}
/* destination section styles */
.destination-section{
        margin-top: 100px;
        text-align: center;
        display: grid;
        justify-content: center;
} 
.destination-title{
        color: #131318;
        font-size: 40px;
        font-weight: 800;
}
.destination-description{
        color: rgba(19, 19, 24, 0.70);
        margin: 25px 0;

}
.column h3{
        position: relative;
        bottom: 150px;
        color: white;

}
.column{
        display: flex;
        gap: 20px;
}
/* why-choose-us section styles */
.why-choose-us-card{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        align-content: center;
        gap: 25px;


}
.why-choose-us-title{
        text-align: center;
        color: #131318;
        font-size: 40px;
        font-weight: 800;
        margin-top: 100px;
}
.why-choose-us-description{
        text-align: center;
        color: rgba(19, 19, 24, 0.70);
        margin: 25px 0;
}
.card{
        background: rgba(251, 181, 99, 0.05);
        border: 1px solid rgba(251, 181, 99, 0.20);
        padding: 50px;
        border-radius: 16px;

}
.card-title{
        font-size: 24px;
        font-weight: 800;
        color: #131318;
        margin: 24px 0 16px 0;
}
.card-description{
        color: #5A5A5D;
}
.card-2{
        border: 1px solid rgba(41, 206, 246, 0.20);
        background: rgba(41, 206, 246, 0.05);
}
.card-3{
        border: 1px solid rgba(233, 68, 68, 0.20);
        background: rgba(233, 68, 68, 0.05);
        margin: 25px auto;
        width:510px;
}
/* perfect place section styles */
.perfect-place{
        display: flex;
        gap: 30px;
        margin-top: 100px;
}
.perfect-place-list{
        width: 50%;
}
.place-title{
        color: #131318;
        font-size: 40px;
        font-weight: 800;
}
.place-description{
        color: #5A5A5D;
        margin: 20px 0;
}
.perfect-place ul>li{
        color: #131318;
        margin-bottom: 20px;
}
.perfect-place iframe{
        border-radius: 10px;
}

/* newsletter section styles */
.newsletter-container{
        display: flex;
        gap: 25px;
        margin-top: 100px;
        justify-content: center;
}
.newsletter{
        display: flex;
        flex-direction: column;
        gap: 20px;
        border: 1px solid var(--primary-color);
        padding: 50px;
        border-radius: 16px;
}
.newsletter-title{
        color: #131318;
        font-size: 24px;
        font-weight: 800;
}
.newsletter-description{
        color: #5A5A5D;
}
.newsletter input{
        border: 0;
        outline: none;
        padding: 20px;
        background-color: rgba(19, 19, 24, 0.05);
        border-radius: 8px;
}
.newsletter button{
        width: 100%;
}
.newsletter hr{
        border: 0.5px solid rgba(19, 19, 24, 0.05) ;
}
.saveing-btn{
        font-size: 24px;
        font-weight: 400;
        width: fit-content;
        position: relative;
        left: 905px;
        bottom: 170px;
        transform: rotate(-25deg);
}
.saveing-text{
        font-size: 32px;
        font-weight: 800;
}

/* footer section styles */
footer{
        height: 502px;
        background-color: rgba(19, 19, 24, 0.05);
        text-align: center;
        padding-top: 50px;
        padding-bottom: 50px;
}
.footer-title{
        display: flex;
        justify-content: center;
        align-items: center;
}
.footer-description{
        color: #5A5A5D;
        font-size: 16px;
        font-weight: 400;
        margin: 20px 250px;
}
footer img{
        width: 40px;
        margin-right: 20px;
}
.x-logo{
        width: 60px;
        margin-right: 12px;
}
footer hr{
        margin:50px 200px;
        border: 0.5px solid rgba(19, 19, 24, 0.05) ;
        
}
.rigths{
        color:#5A5A5D ;
}

@media screen and (max-width:576px) {
        header,main{
                margin:52px 30px;
        }
        /* nav section */
        nav{
                flex-direction: column;
        }
        nav ul{
                gap: 10px;
                margin: 10px 30px 0 0;
        }
        .nav-title{
                font-size: 22px;
        }
        /* banner section */
        .banner-section{
                margin-top: 20px;
                padding: 50px 10px;
        }
        .banner-title{
                font-size: 22px;
                font-weight: 700;
        }
        .banner-description{
                font-size: 14px;
                margin: 20px 0;
                font-weight: 400;
        }
        .banner-inputs{
                display: flex;
                flex-direction: column;
                gap: 10px;
                margin-left: 20px;
                
        }
        .find-btn{
                width: 60vw;
                padding: 0 ;
        }
        .banner-inputs input{
                width: 55vw;
        }

        /* tour section */
        .popular-tour-section{
                flex-direction: column;
                gap: 20px;
        }
        .popular-tour-section img{
                height: auto;

        }

        .popular-tour-title{
                font-size: 20px;
                margin-bottom: 0;

        }
        .popular-tour-description.popular-tour-list{
                font-size: 14px;
        }

        /*Destination section */
        .column{
                flex-direction: column;
        }
        .column img{
                width: 100%;
                height: 176px;
        }
        .column h3{
                bottom: 100px;
        }
        .destination-title{
                font-size: 20px;
        }
        .destination-description{
                font-size: 14px;
                margin: 10px 0;
        }
        /* why choose us section */
        .why-choose-us-card{
                grid-template-columns: 1fr;
                /* grid-template-rows:1fr; */
        }
        .card-3{
                width: fit-content;
        }
        .card{
                font-size: 20px;
                padding: 20px;
        }
        /* perfect place */
        .perfect-place{
                flex-direction: column;
                align-items: center;
        }
        .place-title{
                font-size: 20px;
        }
        .perfect-place-list{
                width: 100%;
        }
        .perfect-place iframe{
                width: 90vw;

        }
        /* newsletter section */
        .newsletter-container{
                flex-direction: column;
        }
        .saveing-btn{
                left: 135px;
                bottom: 125px;
                font-size: 14px;
        }
        .saveing-text{
                font-size: 20px;

        }
        /* footer section */
        footer{
                height: 100%;
        }
        .footer-description{
                margin: 20px 25px;
        }
        footer hr{
                margin: 20px 30px;
        }

}